body {
  background: url('https://static.vecteezy.com/system/resources/previews/001/227/759/original/abstract-modern-cool-geometric-pattern-background-vector.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  font-family: sans-serif;
  margin: 0;
}
#mainHeading {
  margin-top: 15%;
  margin-left: 12.8cm;
  font-size: 40px;
  color: #fa4eac;
  text-decoration: underline;
  width: max-content;
}
#mainHeading:hover {
  color: #fa4eadb0;
  cursor: grab;
  user-select: none;
}
#input {
  height: 40px;
  width: 12cm;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  margin-left: 11.8cm;
  border-radius: 10px;
  outline: none;
  background: #272727;
  font-size: 18px;
  animation: glow-1 3s infinite;
  color: white;
  border-width: 3px;
}
#input:focus {
  animation: glow-1 3s infinite;
}
@keyframes glow-1 {
  0% {
    border-color: #ff0000;
  }
  10% {
    border-color: #ff7300;
  }
  20% {
    border-color: #fffb00;
  }
  30% {
    border-color: #45ff5e;
  }
  40% {
    border-color: #3cff00;
  }
  50% {
    border-color: #00ffbf;
  }
  60% {
    border-color: #00b7ff;
  }
  70% {
    border-color: #0044ff;
  }
  80% {
    border-color: #8c00ff;
  }
  90% {
    border-color: #750185;
  }
  100% {
    border-color: #ff006a;
  }
}
.buttons {
  height: 50px;
  width: 150px;
  font-size: 22px;
  font-weight: bolder;
  border-radius: 25px;
  background-color: #272727;
  margin-top: 1.5cm;
  border: solid 3px white;
  animation: glow-1 3s infinite;
  color: white;
  cursor: pointer;
}
.buttons:hover {
  color: grey;
}
#resBtn {
  margin-left: 11.8cm;
}
@media screen and (max-width:650px){
#input{
  margin-left: 4cm;
}
#resBtn{
transform:translateX(-300px);
position:absolute;
}
.buttons{
  transform:translateX(300px);
}
#mainHeading{
  margin-left:5cm;
}
}